.info-item{
    margin-left: 170px;
    box-sizing: border-box;
}
.contact-us-form{
    padding: 20px;
    background-color: hsl(0, 3%, 20%);
    width: 70%; /* Reduce width */
    margin-left: 10%; /* Center the form */
}
.row gtr-uniform{
    width: 100px;
}
.actions submit{
    background-color: wheat;

}

@media (max-width: 768px) {
    .contact-us-form {
      width: 90%; /* Increase width for mobile view */
    }
}